*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    overflow: hidden;
}
.header{
    background-color: #FFB2F0;
    height: 14vh;
    position: relative;
    bottom: 0vh;
    border-radius: 25px;
}
.header p{
    font-size: 44px;
    text-align: center;
    position: relative;
    bottom: 19vh;
    left: 14vw;
    width: 1100px;
}
.click_lassan{
    width: 105px;
    position: relative;
    bottom: 3px;
}
.click_to_dance{
    width: 70px;
    height: 83px;
    position: relative;
    right: 85px;
    bottom: 20px;
    background: transparent;
    border: transparent;
}
.nischay_bhaiya_photo{
    width: 32%;
    position: relative;
    top: 2vh;
    border-radius: 25px;
}
.page_links{
    position: relative;
    bottom: 547px;
    left: 500px;
    background-color: #FFB2F0;
    border-radius: 25px;
    height: 44px;
    width: 67%;
    display: flex;
}
.page_links a{
    color: #000000;
    position: relative;
    left: 22px;
    bottom: 14px;
}
.page_links p{
    font-size: 22px;
}
.fan_art{
    position: relative;
    left: 44px;
}
.video_edits{
    position: relative;
    left: 88px;
}
.messages{
    position: relative;
    left: 132px;
}
.main_container{
    position: relative;
    bottom: 152px;
}
.about_website{
    position: relative;
    bottom: 383px;
    left: 497px;
    border-radius: 25px;
    width: 67%;
    background-color: #FFB2F0;
}
.about_website h1{
    text-align: left;
    position: relative;
    left: 11px;
}
.info{
    font-size: 16.8px;
    text-align: left;
    position: relative;
    left: 11px;
}
.rules{
    position: relative;
    bottom: 371px;
    left: 498px;
    border-radius: 25px;
    width: 42.5%;
    height: 300px;
    background-color: #FCB475;
}
.rules h2{
    text-align: left;
    font-size: 22px;
    position: relative;
    left: 14px;
    bottom: 3px;
}
.rules h3{
    text-align: left;
    font-size: 20px;
    position: relative;
    bottom: 14px;
    left: 14px;
}
.rules p{
    text-align: left;
    font-size: 17px;
    position: relative;
    left: 14px;
}
.p1{
    position: relative;
    bottom: 22px;
}
.p2{
    position: relative;
    bottom: 33px;
}
.p3{
    position: relative;
    bottom: 44px;
}
.p4{
    position: relative;
    bottom: 55px;
}
.p5{
    position: relative;
    bottom: 66px;
}
.p6{
    position: relative;
    bottom: 77px;
}
.web_credit{
    position: relative;
    bottom: 424px;
    left: 505px;
    width: 23.8%;
    height: 300px;
    border-radius: 25px;
    background-color: #88FF63;
}
.web_credit h2{
    position: relative;
    bottom: 6px;
}
.web_credit p{
    font-size: 18px;
    position: relative;
    left: 14px;
    bottom: 27px;
}
.my_pfp{
    width: 57%;
    border-radius: 50%;
    position: relative;
    bottom: 13px;
    left: 16px;
}
.insta_icon{
    width: 9%;
    position: relative;
    right: 215px;
    top: 22px;
}